<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Your New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class ="heading">Write A New Post!</h1>
    <form method="post" action="/home">
        <input type="text" placeholder="Enter Your Name" name="name"><br>
        <input type="text" placeholder="Enter Your Username" name="username"><br>
        <input type="text" placeholder="Enter Followers Count" name="followers"><br>
        <input type="text" placeholder="Enter Followings Count" name="following"><br>
        <textarea placeholder="What is happening?!" name="content" style="height: 150px; width: 300px;"></textarea>&nbsp;&nbsp;
        <button>Post</button>
        
    </form>
</body>
</html>